<div class="container">
<h1>商品一覧画面</h1>
<%= link_to "新規登録",new_admin_item_path %>
<table class="table table-striped">
	<thead>
	<tr>
		<th>商品ID</th>
		<th>商品名</th>
		<th>税抜き価格</th>
		<th>ジャンル</th>
		<th>ステータス</th>
	</tr>
</thead>
<tbody>
	<% @items.each do |f| %>
	<tr>
		<td><%= f.id %></td>
		<td><%=link_to f.item_name,admin_item_path(f.id) %></td>
		<td><%= f.without_tax.to_s(:delimited) %></td>
		<td><%= f.genre.name%></td>
		<td><% if f.is_sale==true %>
		<p>販売中</p>
		<% else %>
		<p>売り切れ</p>
		<% end %>
	</td>
	</tr>
	<% end %>
</tbody>

</table>
</div>