<h1>商品　新規登録画面</h1>
<div></div>
<p>画像選択画面</p>

<%= form_for(@item) do |f| %>

<p>商品名</p>
<%= f.text_field :item_name %>
<p>商品説明</p>
<%= f.text_area :dess_item %>
<p>ジャンル</p>
<div><p>ステータスバー</p></div>
<p>税抜き価格</p><span>円</span>
<%= f.text_field :without_tax %>
<p>販売ステータス</p>
<div><p>販売ステータス</p></div>

<%= f.submit "新規登録" %>
<% end %>