<h1>注文詳細画面</h1>

<!-- 商品合計 -->
<% item_total = 0 %>

<!-- 送料 -->
<% post = 800 %>

<!-- 請求金額 -->
<% money_total = 0 %>

<div class="container">
	<div class="row">
		<table class="table">
			<tr>
				<%= form_for(@history,url:"/admin/histories/#{@history.id}") do |f| %>
			  <th><font size="4">購入者</font></th>
			  <td><font size="4"><%= @history.customer.family_name + @history.customer.first_name %>
			  </font></td>
			</tr>
				<tr>
				  <th><font size="4">配送先</font></th>
				  <td><font size="4"><%= @history.address %></font></td>
				  <td><font size="4"><%= @history.name %></font></td>
				</tr>
					<tr>
					  <th><font size="4">支払方法</font></th>
					 <td><font size="4"><%= @history.payment_method %></font></td>
					</tr>
						<tr>
						  <th><font size="4">注文ステータス</font></th>
						  <td><font size="4"><%= @history.order_status %>
						  <%= select :order_status, :name, History.order_statuses.keys.to_a %></font>

						  <%= f.submit "更新", class: "btn btn-primary" %></td>
						  <% end %>
						</tr>
		</table>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<table class="table">
				<thead>
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th>製作ステータス</th>
				</tr>
				</thead>
				  <tbody>
						<tr>
							<!-- 履歴に紐付いた履歴詳細の表示 -->
							<% @history.history_details.each do |detail| %>

							<td><%= detail.item.item_name %></td>

							<td><%= detail.price %></td>

							<td><%= detail.quantity %></td>

							<td><%= detail.item.without_tax %></td>

							<td><%= detail.production_status %></td>

							<td><%= select :production_status, :name, HistoryDetail.production_statuses.keys.to_a %></td>
							<% item_total = detail.price * detail.quantity * 1.1 %>

						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
		<div class="col-xs-4">
			<table class="table">
					<tr>

						<% money_total = item_total + post %>

						<th>商品合計</th>
						<td><%= item_total.floor(0).to_s(:delimited) %><%= "円" %></td>
					</tr>
					<tr>
						<th>送料</th>
						<td><%= post %><%= "円" %></td>
					</tr>
					<tr>
						<th>請求合計金額</th>
						<td><%= money_total.floor(0).to_s(:delimited) %><%= "円" %></td>
					</tr>
			</table>

		</div>
	</div>
</div>
