<h1>購入者情報入力</h1>




<div class="field">
    <%= f.label :支払い方法 %><br />
    <%= f.label :クレジットカード %>
    <%= f.radio_button :payment_method, :クレジットカード %>
    <%= f.label :銀行振込 %>
    <%= f.radio_button :payment_method, :銀行振込 %>
</div>





<table class="table table-bordered">
    <thead>
    </thead>
        <tbody>
            <tr>
                <td>カナ</td>
                <td><%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></td>
            </tr>
            <tr>
                <td>郵便番号</td>
                <td><%= f.number_field :post_number, autofocus: true, autocomplete: "post_number" %></td>
            </tr>
            <tr>
                <td>住所</td>
                <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
            </tr>
            <tr>
                <td>電話番号</td>
                <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
            </tr>
            <tr>
                <td>メールアドレス</td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
        </tbody>
</table>