<h1>配送先登録/一覧</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>氏名</th>
            <th><%= f.text_field :family_name, autofocus: true, autocomplete: "family_name"%><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name"%></th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <td>カナ</td>
                <td><%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></td>
            </tr>
            <tr>
                <td>郵便番号</td>
                <td><%= f.number_field :post_number, autofocus: true, autocomplete: "post_number" %></td>
            </tr>
            <tr>
                <td>住所</td>
                <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
            </tr>
            <tr>
                <td>電話番号</td>
                <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
            </tr>
            <tr>
                <td>メールアドレス</td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
        </tbody>
</table>