<p>注文確認情報</p><br> 


<!-- 画面表示 -->

<!-- 計算準備 -->
<!-- 税込価格 -->
<% tax_included = 0 %>

<!-- 小計 -->
<% subtotal = 0 %>

<!-- 商品合計 -->
<% product_total = 0 %>

<!-- 送料 -->
<% postage = 800 %>

<!-- ご請求金額 -->
<% total_fee = 0 %>




<% @item_informations.each do |info| %>

	<!-- 下記金額計算 -->
	<!-- 単価(税込)の計算式 -->
	<% tax_included = info.item.without_tax * 1.1 %>

	<!-- 小計の計算式 -->
	<% subtotal = tax_included * info.quantity %>

	<!-- 商品合計の計算式 -->
	<% product_total = product_total + subtotal %>

	<!-- 請求金額の計算式 -->
	<% total_fee = product_total + postage %>


	<!-- 商品情報を表示 -->
<div class ="container">
	<table class="table my_table">
		<thead>
			<th class="panel my_panel">商品名</th>
			<th class="panel my_panel">単価(税込)</th>
			<th class="panel my_panel">数量</th>
			<th class="panel my_panel">商品小計</th>
		</thead>
	    <tbody>
	    	<tr>

				<td class="my_text"><%= attachment_image_tag info.item, :image, :fill, 100, 50 %><%= info.item.item_name %></td>
				<td class="my_text"><%= tax_included.floor(0).to_s(:delimited) %></td>
				<td class="my_text"><%= info.quantity.to_s %></td>
				<td class="my_text"><%= subtotal.floor(0).to_s(:delimited) %></td>

			</tr>
		</tbody>
	</table>
</div>

<% end %>


<div class ="container">
	<table class="table my_table">
		<tbody>
			<tr>
				<th class="panel my_panel">送料</th>
				<th class="my_text"><%= postage %></th>
			</tr>

			<tr>
				<th class="panel my_panel">商品合計</th>
				<th class="my_text"><%= product_total.floor(0).to_s(:delimited) %></th>
			</tr>

			<tr>
				<th class="panel my_panel">請求金額</th>
				<th class="my_text"><%= total_fee.floor(0).to_s(:delimited) %></th>
			</tr>
		</tbody>
	</table>
</div>



<!-- 下記は銀行の支払い方法を表示 -->
<h4><b>支払い方法</b></h4>
<%= "　　" %><%= @history.payment_method %><br>


<h4><b>お届け先</b></h4>
<%= "　　" %><%= "〒" %><%= @history.post_number + @history.address %><br>

<%= "　　" %><%= @history.name %>




<!-- 下記に「購入確定」ボタン設置 -->

<!-- 「情報入力に進む」ボタンを設置、押すと「購入情報入力ページに遷移する」 -->

<%= form_for(@history) do |f| %>
	<!-- @historyのカラムに値が入っているものは、[:value]以下記載不要 -->
	<%= f.hidden_field :payment_method, :value => @history.payment_method %>
	<%= f.hidden_field :post_number, :value => @history.post_number %>
	<%= f.hidden_field :address, :value => @history.address %>
	<%= f.hidden_field :product_total, :value => @history.product_total %>
	<!-- (下記)postageは本ページで初めてカラム情報を入れたため、Historyテーブルを参照しなくて良い -->
	<%= f.hidden_field :postage, :value => postage %>
	<%= f.hidden_field :name, :value => @history.name %>
	<!-- (下記)total_feeは本ページで初めてカラム情報を入れたため、Historyテーブルを参照しなくて良い -->
	<%= f.hidden_field :total_fee, :value => total_fee %>

	<% current_customer.cart_contents.each do |cart|%>
		<%= f.fields_for :history_details do |df|%>
			<!-- 下記は、history_detailsに送るものを全て記載する -->
			<%= df.hidden_field :item_id, :value => cart.item_id %>
			<%= df.hidden_field :quantity, :value => cart.quantity %>
			<%= df.hidden_field :price, :value => cart.item.without_tax %>
		<% end %>
	<% end %>

<%= f.submit "購入を確定する", class: "btn btn-info" %>


<% end %>

