<h1>注文履歴詳細</h1>

<h2>注文情報</h2>
<div class ="container">
	<table class="table detail_table">
		<% @history_detail.each do |history_detail| %>
		<tr>
			<th class="panel detail_panel">
				注文日
			</th>
			<th class="detail_text">
				<%= history_detail.created_at %>
			</th>
		</tr>
		<tr>
			<th class="panel detail_panel">
			  配送先
			</th>
			<th class="detail_text">
				<%= history_detail.history.post_number %><br>
				<%= history_detail.history.address %><br>
			</th>
		</tr>
		<tr>
			<th class="panel detail_panel">
				支払い方法
			</th>
			<th class="detail_text">
				<%= history_detail.history.payment_method %>
			</th>
		</tr>
		<tr>
			<th class="panel detail_panel">
				ステータス
			</th>
			<th class="detail_text">
				<%= history_detail.production_status %>
			</th>
		</tr>
		<% end %>
	</table>
</div>
<h2>請求情報</h2>
<div class ="container">
	<table class="table detail_table">
		<tr>
			<th class="panel detail_panel">
				商品合計
			</th>
			<th class="detail_text">
				<%= @history.total_fee - @history.postage %>
			</th>
		</tr>
		<tr>
			<th class="panel detail_panel">
			  配送料
			</th>
			<th class="detail_text">
				<%= @history.postage %>
			</th>
		</tr>
		<tr>
			<th class="panel detail_panel">
				ご請求額
			</th>
			<th class="detail_text">
				<%= @history.total_fee %>
			</th>
		</tr>
	</table>
</div>

<a>注文内容</a>
<table class="table table-bordered">
	<thead>
        <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
    	<% @history_detail.each do |c| %>
    	<tr>
			<th><%= c.item.item_name %></th>
            <th><%= c.price * 1.1%></th>
            <th><%= c.quantity %></th>
            <th><%= c.price * c.quantity * 1.1%></th>
		</tr>
		<% end %>
	</tbody>
</table>


