<!-- 下記は「ジャンル検索」枠に表示させる -->

<%= render 'genre_search'%>

<% tax_in = 0 %>

<% tax_in = @item.without_tax * 1.1 %>


		<!-- 商品画像 -->
		<span><%= attachment_image_tag @item, :image, :fill, 300, 200 %></span><br>
		<!-- 商品名 -->
		<span><%= @item.item_name%></span><br>
		<!-- 商品説明 -->
		<span><%= @item.dess_item%></span><br>
		<!-- 商品金額 -->
		<span><%= tax_in.to_i %><%= "  円(税込)"%></span><br>

<!-- 個数をプルダウンで選択できるようにする -->



<%= form_for(@quantity, url: '/items') do |f| %>

	<p>商品個数</p>
	<%= f.number_field :quantity %>
	<!-- f.hidden_fieldで画面には表示されないが、裏でパラメータを渡せる -->
	<%= f.hidden_field :item_id, :value => @item.id %>

	<%= f.submit 'カートに入れる' %>

<% end %>

<!-- 「カートに入れる」ボタンを設置し、「カート」ページに遷移する -->

