<!DOCTYPE html>
<html>
  <head>
    <title>Sweets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
         <div class="row">
          <div class="bg-dark text-white">
              <a href="/" class="navbar-barand text-white font-bold-weight">ながのCAKE</a>
              <!-- <header class="navbar navbar-fixed-top navbar-inverse"> -->
              <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
              <!-- サインインしている場合の表示 -->
               <% if admin_signed_in? %>

                <li class="">
                  <%= link_to " logout", destroy_admin_session_path, method: :delete, class:"glyphicon glyphicon-log-out logout" %>
                </li>
                <li class="">
                  <%= link_to "会員一覧", admin_customers_path,class:"glyphicon glyphicon-cart cart" %>
                </li>
                <li class="">
                  <%= link_to "ジャンル一覧", admin_genres_path,class:"glyphicon glyphicon-cart cart" %>
                </li>
                <li class="">
                  <%= link_to "注文履歴一覧", admin_histories_path,class:"glyphicon glyphicon-cart cart" %>
                </li>
                <li class="">
                  <%= link_to "商品一覧", admin_items_path,class:"glyphicon glyphicon-cart cart" %>
                </li>
               <% elsif customer_signed_in? %>
               <!-- logoutを表示 -->
                <li class="">
                  <%= link_to " logout", destroy_customer_session_path, method: :delete, class:"glyphicon glyphicon-log-out logout" %>
                </li>
                <li>
                  <%= link_to ' Home', root_path ,class:"glyphicon glyphicon-home home" %>
                </li>
                <li class="">
                  <%= link_to "$ カート", cart_contents_path,class:"glyphicon glyphicon-cart cart" %>
                </li>
                <li class="">
                  <%= link_to " マイページ", customers_path,class:"glyphicon glyphicon-log-in login" %>
                </li>
                <% else %>
                <!-- sign upを表示 -->
                <li class="">
                  <%= link_to " sign up", new_customer_registration_path, class:"glyphicon glyphicon-edit sign_up" %>
                </li>
                <!-- loginを表示 -->
                <li class="">
                  <%= link_to " login", new_customer_session_path, class:"glyphicon glyphicon-log-in sign_in" %>
                </li>
                <li class="">
                  <%= link_to " About", about_items_path, class:"glyphicon glyphicon-apple" %>
                </li>
                <li class="">
                  <%= link_to " logout", destroy_admin_session_path, method: :delete, class:"glyphicon glyphicon-log-out logout" %>
                </li>
               <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-3 col-xs-offset-9">
              <p>Copyright (C) 2020　Otokojukuc</p>
            </div>
          </div>
        </div>
      </footer>

  </body>
</html>
